.formacao-container {
  width: 600px;
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 40px;
  margin-top: 100px;
  /* position: relative; */
}

.title {
  color: #0891b2;
  font-size: 1.25rem;
  font-weight: 700;
}